.content-text{
	color: white;
	text-shadow:
		-1px -1px 0 #F00,  
		1px -1px 0 #F00,
		-1px 1px 0 #F00,
		1px 1px 0 #F00;
}

nav.classic-nav{
	text-align: center;
}

nav.classic-nav div{
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}

nav.float-nav{
	float: left;
}

nav div{
	padding-left: 15px;
	padding-right: 15px;
}

.main-page{
	height: 100vh;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
	background: url('../assets/images/touchuniverse.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.main-page .center-content{
	padding-top: 80px;
	height: 100%;  
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-page h3, p{
	font-family: 'Open Sans', sans-serif;
}

.main-page .center-content h1{
	font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 30px;
}

.container-content{
	height: 100vh;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

.container-aboutme{
	background-color: #ff6a00;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
}
.container-skills{
	background-color: #3fff00;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
}
.container-contactme{
	background-color: #00a1ff;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
}