<navigation></navigation>
<div class="container">
	<div class="main-page">
		<div class="center-content" id="introduction">
			<h1>Welcome to Leo's Bio</h1>
			<h3>Started on August 2018</h3>
			<p>A PHP Developer, learning and polishing skills to become a full-stack developer</p>
		</div>
	</div>
	<div class="content-list">
		<div class="container-content container-aboutme" id="about-me">
			A Penangnite who trying to change his life
		</div>
		<div class="container-content container-skills" id="skills" >
			<div class="description">
				PHP, HTML, Javascript, Jquery, Css, Currently AngularJS(Beginner level)
			</div>
			<div class="chart">
				<canvas id="SkillsChart"></canvas>
			</div>
		</div>
		<div class="container-content container-contactme" id="contact-me" >
			Contact my through my contact number or may leave me a message in my social media account
		</div>
	</div>
</div>
